<div>
  <header class="me-header">

    <div class="main-header-logo">
      <img src="/assets/images/logo.png" class="img-fluid" alt="logo">
      <h4 class="text-logo">FastMed</h4>
    </div>

    <div class="main-header">
      <div class="container-fluid">
        <div class="main-menu">
          <ul class="my-header-menu">

            <li class="router-link">Главная</li>
            <li class="router-link">Профиль</li>
            <li class="router-link">Лента</li>
            <li class="router-link">Магазин</li>
            <li class="router-link">Контакты</li>
            <li class="router-link">О нас</li>
            <li class="router-link">Поддержка</li>
            <li class="router-link">Поиск</li>
            <li class="btn">
              <a class="router-link btn-hover">Войти / </a>
              <a class="router-link btn-hover">Зарегистрироваться</a>
            </li>


            <button class="sidebar ml32">
              <svg icon="property" class="header-sidebar"></svg>
            </button>
          </ul>

        </div>
      </div>
    </div>
    <div class="banner-shap">
      <img src="/assets/images/banner-shape1.png" alt="banner-shape1" class="img-banner1">
      <img src="/assets/images/banner-shape2.png" alt="banner-shape2" class="img-banner2">
    </div>
  </header>
</div>


