@font-face {
  font-display: swap;
  font-family: "Lato-mid", sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/lato/lato-mid.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Lato-strong";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/lato/lato-strong.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Lato-light";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/lato/lato-light.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Pop-mid";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/popins/popins-mid.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Pop-strong";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/poppins/popins-strong.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Pop-light";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/poppins/popins-light.woff2") format("woff2");
}
